@model TaxCalulator.Core.Entities.CalculatedAnnualTax

@{
    ViewData["Title"] = "Calculate";
}

<h1>Calculated Annual Tax!</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.CalculatedTax)
        </dt>
        <dd class = "col-sm-10">
            R: @Html.DisplayFor(model => model.CalculatedTax)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.NetPay) 
        </dt>
        <dd class="col-sm-10">
            R: @Html.DisplayFor(model => model.NetPay) for the year
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
          You calculated your tax on  @Html.DisplayFor(model => model.DateTime) !
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back</a>
    <a asp-action="ListCalculated">List</a>
</div>
